body {
    background-color: #370617;
    margin: 0;
}
.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex: 0 0 468px;
    height: 160px;
    background-color: #F48C06;
    border-radius: 8px;
}

.panel--left {
    justify-content: flex-start;
}

.panel--center {
    justify-content: center;
}

.panel--right {
    justify-content: flex-end;
}

.panel--mid {
    align-items: center;
}

.panel--bottom {
    align-items: flex-end;
}

.panel--top-left {
    align-items: flex-start;
    justify-content: left;
}

.panel--bottom-right {
    align-items: flex-end;
    justify-content: right;
}

.panel--spread {
    justify-content: space-between;
}

.panel__box {
    background-color: #9D0208;
    border-radius: 4px;
}

.panel__box--small {
    width: 78px;
    height: 78px;
}

.panel__box--tall {
    width: 78px;
    height: 120px;
    align-content: center;
}

.panel__box--short {
    width: 78px;
    height: 64px;
}

.panel__box--wide {
    width: 156px;
    height: 78px;
}

.panel__box--mixed-left {
    width: 78px;
    height: 78px;
    align-self: flex-start;
}

.panel__box--text {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: white;
    text-box:var(54px, 14px);
    text-align: center;
}